body {
  font-family: 'Open Sans', sans-serif;
}

.placeholder {
  outline: 1px dotted red;
}

.game {
}

a.letter {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  border: 1px solid #888;
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: black;
  text-decoration: none;

  background-clip: border-box;
}

a.letter.committed {
  background-color: #eee;
}

a.letter.uncommitted {
  background-color: #ffc;
}

a.letter > span.value {
  position: absolute;
  float: right;
  right: 3px;
  bottom: 2px;
  font-size: 10px;
  font-weight: normal;
  line-height: 10px;
}

.main {
  margin-left: 160px;
}

.main > .board {
  height: 200px;
}

ul.letters {
  margin: 15px auto;
}

table.board {
  border-spacing: 0px;
  border-collapse: collapse;
}

table.board td {
  width: 42px;
  height: 42px;
  padding: 1px;
  border-left: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  background-clip: padding-box;
}

table.board td a.letter {
  margin: 0px auto;
}

ul.player-list {
  width: 150px;
  float: left;
  margin: 0px;
}

ul.player-list, ul.letters {
  list-style-type: none;
  padding: 0px;
}

ul.letters li {
  display: inline-block;
  margin-right: 3px;
}

ul.letters button {
}

td.double-letter {
  background-color: #fee;
}

td.triple-letter {
  background-color: #e99;
}

td.double-word {
  background-color: #dfd;
}

td.triple-word {
  background-color: #9e9;
}

td.drop {
  background-color: black !important;
}

td.nondrop {
}

/*
 * vim: ts=2 sts=2 sw=2 et
 */
